[core]
	editor = nvim
[push]
	default = upstream
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	hist = log --graph --pretty=format:'%h %ad | %s%d [%an]' --date=short
	last = log -1 HEAD
	unstage = reset HEAD --
	amend = commit --amend -C HEAD
	co = checkout
	ci = commit
	st = status
	br = branch
	g = grep --break --heading --line-number
[init]
	defaultBranch = main
